<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <script src="../../scripts/vue.js"></script>
  
  <div id="app">
    <ul>
      <li v-for="(value, index) of fruits">({{index}}){{value}}</li>
    </ul>
    <ul>
      <template v-for="fruit of fruits">
        <li>{{fruit}}</li>
        <hr>
      </template>
    </ul>
    <ul>
      <li v-for="n in 10">{{n}}</li>
    </ul>
  </div>
  <script src="main.js"></script>
</body>
</html>

<!-- 

  v-for
  in ofでも記述可能

 -->